doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ProyekTKPPL

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body
    
    article

      section
        ul
          li
            h3 Apa Itu 4G?
          li
            h7 4G adalah singkatan dari istilah dalam bahasa Inggris: <i>fourth-generation technology</i>. Istilah ini umumnya digunakan mengacu kepada standar generasi keempat dari teknologi telepon seluler. 4G merupakan pengembangan dari teknologi 3G dan 2G. Sistem 4G menyediakan jaringan pita lebar ultra untuk berbagai perlengkapan elektronik, contohnya telpon pintar dan laptop menggunakan modem usb.
        
      section
        ul
          li
            h3 Lanjutan...
          li 
            h7 Terdapat dua kandidat standar untuk 4G yang dikomersilkan di dunia yaitu standar WiMAx (Korea Selatan sejak 2006) dan standar Long Term Evolution (LTE) (Swedia sejak 2009).
          li
            h7 Di Indonesia, WiMAX pertama kali diluncurkan oleh PT. FirstMedia dengan merek dagang Sitra WiMAX sejak juni 2010. Kemudian teknologi LTE pertama kali diluncurkan oleh PT. Internux dengan merek dagang Bolt Super 4G LTE sejak 14 November 2013.
      
      section
        ul
          li
            h3 Apa Itu LTE?
          li
            h7 3GPP Long Term Evolution atau yang biasa disingkat LTE adalah sebuah standar komunikasi akses data nirkabel tingkat tinggi yang berbasis pada jaringan GSM/EDGE dan UMTS/HSPA. Jaringan antarmuka-nya tidak cocok dengan jaringan 2G dan 3G, sehingga harus dioperasikan melalui spektrum nirkabel yang terpisah.     
          li
            h7 Teknologi ini mampu download sampai dengan tingkat 300mbps dan upload 75mbps. Layanan LTE pertama kali diadopsi oleh operator seluler TeliaSonera di Stockholm dan Oslo pada tanggal 14 desember 2009.

      section
        ul
          li
            h3 Lanjutan...
          li
            h7 3GPP Long Term Evolution (LTE) dan dipasarkan dengan nama 4G LTE adalah sebuah standard komunikasi nirkabel berbasis jaringan GSM/EDGE dan UMTS/HSDPA untuk aksess data kecepatan tinggi menggunakan telepon seluler mau pun perangkat mobile lainnya.
          li
            h7  LTE disebut-sebut sebagai jaringan nirkabel tercepat saat ini, sebagai penerus jaringan 3G. LTE bahkan diklaim sebagai jaringan nirkabel yang paling cepat pertumbuhannya.

      section
        ul
          li
            h3 Apa itu Wimax?
          li
            h7 Teknologi Wimax merupakan salah satu teknologi broadband nirkabel / wireless paling sering di bicarakan beberapa tahun terakhir. 
          li
            h7 Sistem WiMAX diharapkan memberikan layanan akses broadband untuk pelanggan perumahan dan perusahaan secara efisien dan ekonomis.
          li
            h7 WiMax adalah versi nirkabel / wireless standar Ethernet dimaksudkan terutama sebagai alternatif teknologi kabel (seperti Cable Modem, DSL dan T1/E1 link) untuk menyediakan akses broadband ke lokasi pelanggan.

      section
        ul
          li
            h3 Sejarah 4G
          li
            h7 Generasi pertama: hampir seluruh sistem pada generasi ini merupakan sistem analog dengan kecepatan rendah (low-speed) dan suara sebagai objek utama. Contoh: NMT (Nordic Mobile Telephone) dan AMPS (Analog Mobile Phone System).
          li
            h7 Generasi kedua: dijadikan standar komersial dengan format digital, kecepatan rendah - menengah. Contoh: GSM dan CDMA2000 1xRTT
          li
            h7 Generasi ketiga: digital, mampu mentransfer data dengan kecepatan tinggi (high-speed) dan aplikasi multimedia, untuk pita lebar (broadband). Contoh: W-CDMA (atau dikenal juga dengan UMTS) dan CDMA2000 1xEV-DO.

      section
        ul
          li
            h3 Lanjutan...
          li
            h7 Sistem 4G menyediakan solusi IP yang komprehensif dimana suara, data, dan arus multimedia dapat sampai kepada pengguna kapan saja dan dimana saja, pada rata-rata data lebih tinggi dari generasi sebelumnya.
          li
            h7  4G akan merupakan sistem berbasis IP terintegrasi penuh. Ini akan dicapai setelah teknologi kabel dan nirkabel dapat dikonversikan dan mampu menghasilkan kecepatan 100Mb/detik dan 1Gb/detik baik dalam maupun luar ruang dengan kualitas premium dan keamanan tinggi.

      section
        ul
          li
            h3 Mengenal Berbagai Macam Teknologi 4 G
          li
            h7 Dalam rancangan pengembangannya, jaringan 4G mempunyai 2 visi yang berbeda. 
          li
            h7 Pertama adalah jaringan 4G yang Revolusioner (4G-R), dimana dikembangkan sebuah sistem yang inovatif.
          li
            h7 Yang kedua adalah yang bervisi Evolusioner (4G-E), dimana jaringan 4G disini mempunyai kemampuan interworking dengan sistem-sistem jaringan yang telah ada. Model interworking akan mengintegrasikan jaringan-jaringan selular, jaringan nirkabel metropolitan (wireless metropolitan area networks - WMANs), jaringan nirkabel lokal (local wireless local area networks -WLANs), dan jaringan nirkable personal (wireless personal area networks - WPANs). Model interworking ini meng-cover skenario jaringan masa depan yang terintegrasi dimana setiap orang dapat mengakses jaringan kapan saja (anytime), dari mana saja (anywhere), dan dengan cara apa saja (anyway).
          
      section
        ul
          li
            h3 Mengenal 1G
          li
            h7 Teknologi 1G adalah teknologi nirkabel generasi pertama berupa telepon seluler  yang diperkenalkan sekitar 1980-an.
          li
            h7 Teknik komunikasi yang digunakan pada generasi ini adalah Frequency Division Multiple Access (FDMA).
          li
            h7 Teknik ini memungkinkan untuk setiap pelanggan saat sedang melakukan pembicaraan akan memiliki frekuensi sendiri yang berbeda dengan frekuensi pelanggan lain dalam sel yang sama.

      section
        ul
          li
            h3 Mengenal 2G
          li
            h7 Dibanding 1G, 2G memiliki kelebihan seperti suara lebih jernih, keamanan lebih terjaga dan kapaistas yg lebih besar.
          li
            h7 Generasi kedua memiliki memiliki fitur CSD sehingga transfer data lebih cepat sekitar 14.4KBPS dan anda juga dapat mengirimkan pesan teks.
          li
            h7 GSM muncul terlebih dahulu di Eropa sementara Amerika mengandalkan D-AMPS dan Quallcomm CDMA pertama mereka.
      
      section
        ul
          li
            h3 Mengenal 2.5G
          li
            h7 GPRS (General Packet Radio Service) : suatu teknologi yang digunakan untuk pengiriman dan penerimaan paket data.
          li
            h7 GPRS memberikan kecepatan akses antara 56kbps sampai 115kbps.
          li
            h7 EDGE (Enhanced Data for Global Evolution) : teknologi perkembangan dari GSM, rata-rata memiliki kecepatan 3kali dari kecepatan GPRS.
          li
            h7 Kecepatan akses EDGE secara teori sekitar 384kbps.
          li
            h7 Fasilitas yang disediakan EDGE sama seperti GPRS (e-mail, mms, dan browsing).

      section
        ul
          li
            h3 Mengenal 3G
          li
            h7 Teknologi 3G terbagi menjadi GSM dan CDMA. Teknologi 3G sering disebut dengan Mobile broadband karena keunggulannya sebagai modem untuk internet yang dapat dibawa ke mana saja. 
          li
            h7 Melalui 3G, pengguna telepon selular dapat memiliki akses cepat ke internet dengan bandwidth sampai 384 kilobit setiap detik ketika alat tersebut berada pada kondisi diam atau bergerak secepat pejalan kaki. 
          
      section
        ul
          li
            h3 Mengenal 3.5G HSPA( High-Speed Packet Access)
          li
            h7 Peningkatan dari teknologi 3G, terutama dalam peningkatan kecepatan transfer data yang lebih dari teknologi 3G (>2Mbps)
          
      section 
        ul
          li
            h3 Kelebihan 3.5G
          li
            h7 Dapat digunakan untuk banyak user secara bersamaan.
          li
            h7 Frekuensi dapat dimaksimalisasikan secara efisien dengan pemakaian bandwith (lebar pita) yang tepat.
          li
            h7 Mengurangi delay saat download data.

      section
        ul
          li
            h3 Mengenal CDMA 1xEV-DO Revision A
          li
            h7 3G adalah desain untuk meningkatkan kecepatan data maupun voice dengan memanfaatkan jaringan telepon seluler yang telah ada. 
          li
            h7 Dimana, kendala utama untuk menerapkan jaringan nirkabel berkecepatan tinggi adalah minimnya lebar data, atau rentang frekuensi yang dapat dipakai.
          li
            h7 Dengan banyaknya frekuensi radio yang dapat ditekan/dirampingkan pada gelombang FM, maka tidak terlalu banyak data yang bisa memnfaatkan bandwidh tersebut.
          li
            h7 EVDO yang mengembangkan teknologi yang dikembangkan oleh Qualcomm dapat memecahkan masalah ini. 

      section
        ul
          li
            h3 Mengenal CDMA 1xEV-DO Revision B
          li
            h7 Teknologi EVDO Rev.B fase 2 adalah layanan akses internet broadband berkecapatan tinggi yang setara dengan teknologi GSM 3.5G.
          li
            h7 Revisi sebuah jaringan mampu memberikan kualitas lebih baik karena memiliki kecepatan data yang mirip dengan HSDPA.

      section
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        hr
        pre
          code.language-javascript.
            bespoke.from('article', {
              keys: true,
              touch: true,
              hash: true,
              state: true,
              bullets: 'li, .bullet'
            });

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild